body{
    display: flex;

    flex-direction: column;
}

/*
-----------------------------------------------
-------------- Main frame header --------------
-----------------------------------------------
*/

header{
    display: flex;

    justify-content: space-between;

    border: 2px solid pink;
}


#dateInfoContainer{
    display: flex;

    border: 2px solid orange;
}


#userInfoContainer{
    display: flex;

    border: 2px solid green;
}


header p{
    margin-left: 10px;
    margin-right: 10px;
}


/*
---------------------------------------
-------------- TimeTable --------------
---------------------------------------
*/


#ttGrid{
    display: grid;

    /* 1fr correspon to a fraction : 1fr with 10 lines -> 1/10, 1fr with 5 lines -> 1/5 */
    grid-template-columns: 50px repeat(5, 1fr); /* Number of columns and the space taken by each of them*/
    grid-template-rows: repeat(13, 1fr);

    column-gap: 5px; /* Spacing */

    border-collapse: collapse;
    border: 2px solid red;
}

.cell{
    margin: 0;
    height: 6vh;

    line-height: 6vh; /* Allow to vertically center text */
    text-align: center;

    border: 2px solid blue;
}



/*
-----------------------------------
-------------- Popup --------------
-----------------------------------
*/

#blockBackground{
    position: absolute;

    left: -0;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: 9;

    background-color: rgba(0, 0, 0, 0.3);
}


#popupArticle{
    position: absolute;

    left: 35vw;
    top: 30vh;

    width: 30vw;
    height: 40vh;

    z-index: 10;

    background-color: white;
}


#closePopupButton{
    position: absolute;

    right: 0;
    top: 0;
}


#popupTitle{
    text-align: center;
}







/*
----------------------------------------
---------------- Footer ----------------
----------------------------------------
*/




footer{
    border: 2px solid brown;
}